<div class="content">

  <h1>Recommended for you</h1>
  <p>We've noticed you have a certain affinity to these type of gifs...</p>

  <% @gifs.each do |gif| %>
  <div class="preview">
    
    <a href="/view/<%= gif.id %>">
      <h2 class="title"><%= gif.title %></h2>
      <div class="gif"><img src="<%= gif.gif.url %>"></div>
    </a>

    <div class="details">

      <div class="author">
        <img> 
        <span><a href="/account/<%= gif.user.username %>"><%= gif.user.username%></a></span>
      </div>

      <div class="stats">
        <div class="view-count"><%= gif.views %> hits</div>
        <span class="upvotes"><img src="/assets/up.png" title="I Like this" class="thumb"><%= gif.num_likes %></span>
        <span class="downvotes"><img src="/assets/down.png" title="I dislike this" class="thumb"><%= gif.num_dislikes %></span>
      </div>

    </div>
  </div>
  <% end %>

</div>
