<div class="content">

  <div class="wrapper">

    <div class="preview">

      <h1><%= @gif.title %></h1>
      <img src="<%= @gif.gif.url %>">

      <div class="details">

        <div class="author">
          <img> 
          <span><%= @gif.user.username %><span>
          <a href="/account/<%= @gif.user.username%>">View Profile</a>
        </div>

        <div class="stats">
          <div class="view-count"><%= @gif.views%> hits</div>
          <span class="upvotes"><img src="/assets/up.png", title="I Like this", class = "thumb"> 34</span>
        <span class="downvotes"><img src="/assets/down.png", title="I dislike this", class = "thumb", src="assets/down.png"> 2</span>
        </div>



      </div>

    </div>

    <div class="description"><%= @gif.description %></div>

    <div class="addComment">
    <%= form_tag "/comment/" do %>
      Share your thoughts:
      <input type="hidden" name="gifid" value="<%= @gif.id %>">
      <textarea rows="2" name="comment"></textarea>
      <input type="submit" value="Post">
    <% end %>
    </div>

    <ol class="comments">
      <% @comments.each do |comment| %>
      <li class="comment">
        <span class="author"><%= comment.user.username %></span>
        <p class="text"><%= comment.comment %></p>
      </li>
      <% end %>
    </ol>

  </div>

</div>
